body{
    margin: 0;
    padding: 0;
    font-family:Nunito Sans;
    background-color: #fdfdf0;
}

.header1{
  display: flex;
  list-style-type: none;
  list-style: none;
  background-color: white;
  width: 100%;
  top: 0px;
}
.header1 a{
  font-family: gt-america-extended-webfont,sans-serif;
    line-height: 1.675;
    text-transform: uppercase;
    letter-spacing: .16rem;
    color: #5f6a66;
}
.header1-nav-right{
  display: flex;
  list-style-type: none;
  margin-left:692px;
}
.header1-nav-right a{
  margin-left: 50px;
  position: relative;
  top: 0px;
}
.header1 li a{
  text-decoration: none;
}
.header1-middle a{
  text-decoration: none;
  position: absolute;
  left: 565px;
  top: 0px;
}
.header1 a:hover{
  border-bottom: 1.5px solid #5f6a66;
}

#logo{
  width: 50%;
  margin-left: 188%;
}

#h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 22%;
    margin: 17px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
    background-color: white;
}
.content:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translate(0px, -8px);
    transition: .6s;
}
#img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
#p{
    text-align: center;
    color: #b2bec3;
    padding: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
li{
    padding: 5px;
}
.fa{
    color: #ff9f43;
    font-size: 26px;
    transition: .4s;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border:0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.buy{
    background-color: #ab4030;
}

@media(max-width: 1000px){
.content{
    width: 46%;
}
}
@media(max-width: 750px){
.content{
    width: 100%;
}
}


