body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	overflow-x: hidden;
	overflow-x: hidden;
}
.header1{
	display: flex;
	align-items: center;
	list-style-type: none;
	list-style: none;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 9999;
	top: 0px;
	height: 70px;
}
.header1 a{
	font-family: gt-america-extended-webfont,sans-serif;
    line-height: 1.675;
    text-transform: uppercase;
    letter-spacing: .16rem;
    color: #5f6a66;
}
.header1-left{
	display: flex;
	list-style-type: none;
}
.header1-nav-left{
	display: flex;
	list-style-type: none;
}
.header1-nav-right{
	display: flex;
	list-style-type: none;
	margin-left:692px;
}
.header1-nav-right a{
	margin-left: 50px;
}
.header1-nav-left a{
	margin-left: 30px;
}
.header1 li a{
	text-decoration: none;
}
.header1-middle a{
	text-decoration: none;
	 position: absolute;
    left: 560px;
    top: 0px;
}
.header1 a:hover{
	border-bottom: 1.5px solid #5f6a66;
}

#logo{
	width: 75%;
    margin-right: 200%;
}

.div2{
	padding: 80px 0;
	display: flex;
	width: 200%;
}
.img-div img{
	width: 150%;
	height: 567px;
	object-fit: cover;
    right: 50px;
	
}
.txt{
	background-color: #ab4030;
	width: 29%;
	height: 567px;
}
.txt h1{
	color: white;
  text-align: center;
  margin-top: 162px;
}
.txt p{
	color: white;
  text-align: center;
  margin-top: 38px;
}
.txt button{
	padding: 10px 125px;
  border-radius: 52px;
  border: none;
  background-color: #42544f;
  position: absolute;
  left: 191px;
  text-transform: uppercase;
  top: 491px;
  color: white;
  cursor: pointer;
}
.txt button:hover{
	background-color: white;
	color: #42544f;
}
.txt a{
	text-decoration: none;
	color: white;
}
.dropbtn {
  color: white;
 	font-size: 16px;
	border: none;
}

.dropdown {
  	position: relative;
  	display: inline-block;
}


.dropdown-content {
  	display: none;
 	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}


.dropdown-content a {
  	color: black;
  	text-decoration: none;
  	  color: #5f6a66;
  	display: block;
}


.dropdown-content a:hover {
	border-bottom: 1.5px solid #5f6a66;
}


.dropdown:hover .dropdown-content {
	display: block;
}
/*.div3{
	padding: 80px 0;
	background-color: #ab4030;
	margin-top: -84px;
}
.div3 p{
		color: white;
    text-align: center;
    margin-top: 38px;
}*/

/* Slideshow container */
.slideshow-container {
 width: 100%;
  position: relative;
  margin: auto;
}

.divi4{
	margin-top: -84px;
}
.blackF{
	width: 63%;
	height: 587px;
	text-align: center;
	background-color: #ab4030;
}
.blackF h1{
	margin-top: 216px;
	color: white;
	text-transform: uppercase;
}
.blackF hr{
	width: 80px;
	border: 2px solid white;
}
.blackF h4{
	text-transform: uppercase;
	color: white;
}
.div-img img{
	width: 100%;
	height: 587px;
	object-fit: cover;
}

#btn{
	position: absolute;
	left: 20%;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #b26118;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  margin-top: -4px;
  padding-top: 116px;
  width: 100%;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #b26118;
  margin-top: -4px;
}

.divi5{
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #b26118;
}

/* Add an italic font style to all quotes */
q {
	font-style: italic;	
	color: white;
	margin-top: 10px;
}

/* Add a blue color to the author */
.author {
	color: white;
	text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}
@media screen and (max-width: 1100px) {
  .content {
    margin-top: -50px;
  }
  .title {
    font-size: 50px;
    line-height: 50px;
  }
  .caption {
    width: 80vw;
    font-size: 12px;
  }
  .view {
    left: 20px;
    font-size: 11px;
  }
  .view p {
    text-decoration: underline;
  }
  .view span {
    display: none;
  }
}

.welcome {
  font-family: "Open Sans";

  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 680px;
  padding-top: 60px;
  padding-bottom: 100px;
  display: block;
}

.welcome h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
}

.welcome p {
  margin-top: 30px;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Open Sans";
  color: #fff;
  z-index: 1000;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 12px;
}

@media screen and (max-width: 1100px) {
  .welcome {
    width: 80%;
  }
}

.credentials {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  margin-bottom: 100px;
}

.credentials .item {
  width: 180px;
  height: 180px;
  margin: 8px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  filter: grayscale(100%);
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .credentials {
    width: 400px;
  } 
}

@media (max-width: 400px) {
  .credentials {
    width: 200px;
  } 
}



.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.Grid-cell {
  /*Positioning*/
  position: relative;
  /*Display and Box Model*/
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.Grid--cols-1 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-2 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex5 > .Grid-cell {
  flex: 0 0 33.33%;
}

.Grid--cols-inline > .Grid-cell {
  flex: 0 0 100%;
}

.alignCenter > .Grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 800px) {
  .Grid--cols-1 > .Grid-cell {
    flex: 0 0 100%;
  }
  .Grid--cols-2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-3 > .Grid-cell {
    flex: 0 0 33.33%;
  }
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 25%;
  }
  .Grid--cols-5 > .Grid-cell {
    flex: 0 0 20%;
  }
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 16.66%;
  }
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 33.3%;
  }
  /*Gutters*/
  .Grid--gutters {
    margin-left: -4em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 4em;
  }
}

@media (min-width: 1000px) {
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 33.33%;
  }
}


@media (min-width: 1200px) {
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 33.33%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 33.33%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 20%;
  }
  /*Gutters*/
  .Grid--gutters {
    margin-left: -8em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 8em;
  }
}


@media (min-width: 1400px) {
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 25%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 20%;
  }
}


@media (min-width: 1600px) {
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 20%;
  }
  /*Gutters*/
  .Grid--gutters {
    margin-left: -12em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 12em;
  }
}


.Footer-wrapper {
  position: relative;
  /*Display and Box Model*/
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  /*Color*/
  background: #e8e8e8;
  color: #000;
}

.Footer {
  position: relative;
  /*Display and Box Model*/
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .Footer {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .Footer {
    width: 65%;
  }
}

.Footer-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://static.pexels.com/photos/327507/pexels-photo-327507.jpeg);
  background-size: cover;
  background-position: center center;
  opacity: 0.1;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition: all.5s ease;
  transition: all 0.5s ease;
}


[class*="Footer-content"] {
  /*Positioning*/
  position: relative;
  padding: 1.5em 0 1.5em 0;
  /*Display and Box Model*/
  opacity: 1;
  /*Text*/
  text-align: left;
}

/*Text*/

[class*="Footer-content"] h2 {
  /*Display and Box Model*/
  margin-top: 0;
  margin-bottom: 5px;
  /*Text*/
  font-family: "Open Sans";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

[class*="Footer-content"] h3 {
  /*Display and Box Model*/
  margin: 0;
  margin-top: 15px;
  /*Text*/
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

[class*="Footer-content"] p {
  /*Display and Box Model*/
  margin: 0;
  margin-top: 15px;
  /*Text*/
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
}


.Footer-mobile-line {
  /*Positioning*/
  position: absolute;
  left: 30%;
  bottom: 0;
  transform: translateZ(0);
  /*Display and Box Model*/
  width: 40%;
  height: 1px;
  margin: 0;
  padding: 0;
  /*Color*/
  background: black;
}



@media (min-width: 800px) {
  [class*="Footer-mobile"] {
    visibility: hidden;
  }
  [class*="Footer-content"] {
    padding: 0 2em 0 2em;
  }
  .Footer-content-2 {
    /*Display and Box Model*/
    /*border-left: 1px solid black;*/
    /*Other*/
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .Footer-content-3 {
    /*Display and Box Model*/
    /*border-left: 1px solid black;*/
    /*Other*/
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
}

.getintouchcontent {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #000;
}

#C{
  text-decoration: none;
  color: black;
}
#C:hover{
  color: #ab4030;
}
